.lefft{
        display: inline-block;
        background-color: #F5F5F5; 
        margin-right: 1000px;
        margin-top: 50px;
        margin-left: 0px;
        width: 700px;
        
}
.right1{
        display: inline-block;
        background-color: #F5F5F5; 
        margin-left: 680px;
        margin-top: 70px;
        width: 700px;
}
.color{
        background-color: #F5F5F5;
        font-size: 20px;  
}
.head{
        color: blue;
        background-color: #F5F5F5;
        margin-left: 35px;
        margin-top: 40px;
        font-size: 20px;
}
.para1{
        background-color: #F5F5F5;
        color: #00008B;
        font-weight: 200px;
        margin-left: 30px;

}
.para2{
        background-color: #F5F5F5;
        color: #00008B;
        font-weight: 200px;
          
}
.para3{
        background-color: #F5F5F5;
        margin-left: 35px;
        font-size: 17px;  
}
.head2{
        background-color: #F5F5F5;
        color: blue;
        font-weight: 300px;
}.para4{
        background-color: #F5F5F5;
        color: #00008B;
        
}
.List{
        display: flex;
        gap: 100px;
        font-size: 18px;
        font: bold;
        background-color: #F5F5F5;
}
.div{
        background-color: #F5F5F5;
}
.List2{
        display: flex;
        gap: 100px;
        font-size: 18px;
        font: bold;
        background-color: #F5F5F5;
}

